
#section-picture {background:url(../images/background/bg1.jpeg) fixed;}
#section-picture-2 {background:url(../images/background/bg2.jpeg) fixed;}

@media only screen and (min-device-width: 768) and (max-device-width: 1024) and (orientation: portrait){
	section{
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-size: auto 100%;
	background-attachment:scroll;
	}
}
@media only screen and (max-width: 992px) {
	#subheader,section{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment:scroll;
	}
}
@media only screen and (max-width: 480) {
	section{
	-webkit-background-size: auto 100% !important;
	-moz-background-size: auto 100% !important;
	-o-background-size: auto 100% !important;
	background-size: auto 100% !important;
	background-attachment:scroll !important;
	}
}
